<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">

    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''"> name = #{name},</if>
            <if test="room != null and room != ''"> room = #{room},</if>
            <if test="masterId != null"> master_id = #{masterId},</if>
            <if test="beginDate != null"> begin_date = #{beginDate},</if>
            <if test="endDate != null"> end_date = #{endDate},</if>
        </set>
        where id = #{id}
    </update>


    <select id="List" resultType="com.itheima.pojo.Clazz">
        select c.*,e.name masterName  from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end !=null">
                and (c.end_date between #{begin} and #{end})
            </if>
        </where>
        order by c.end_date desc
    </select>

    <select id="getAll" resultType="com.itheima.pojo.Clazz">
        select * from clazz
    </select>
</mapper>